name: deploy

on:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write
  pages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: frontend

    concurrency:
      group: "pages"
      cancel-in-progress: false

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.14"

      - name: Install Python dependencies
        run: pip install polars pyarrow pooch tqdm
        working-directory: data-pipeline

      - name: Run data processing
        run: python -m src
        working-directory: data-pipeline

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2.0.2

      - name: Install dependencies
        run: bun install

      - name: Set BASE_URL
        run: echo "BASE_URL=/${{ github.event.repository.name }}" >> $GITHUB_ENV

      - name: Build project
        run: bun run build && mv dist ../dist

      - name: Setup Pages
        uses: actions/configure-pages@v5.0.0

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: dist/

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.5
